@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


.wrapper {
  width: 661px;
  min-height: 763px;
  background-color: #C4C4C4;
}

.search__bar {
  display: block;
  margin-top: 62px;
  height: 61px;
  width: 500px;
  border: 0px;
  padding: 5px 13px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.content-container {
  margin: 0 auto;
  width: 500px;
}

.search__list {
  margin-bottom: 45px;

}

.search__item {
  width: 500px;
  min-height: 44px;
  background: #E3E3E3;
  padding: 5px 13px;
  border: 2px solid #000000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  word-break: break-all;
  color: #000000;
  transition: all 0.1s;
  cursor: pointer;
}

.search__item:hover {
  background: #65CDF9;
}

.search__item:first-letter {
  text-transform: uppercase;
}

.added {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.added__item {
  padding: 8px 43px 8px 16px;
  display: flex;
  justify-content: space-between;
  width: 503px;
  min-height: 101px;
  align-items: center;
  background: #E27BEB;
  border: 1px solid #000000;
  overflow: hidden;
}

.added__text {
  width: 400px;
  word-break: break-all;
}

.added__content {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.button {
  position: relative;
  border: none;
  background-color: inherit;
  height: 42px;
  width: 42px;
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  top: -4px;
  right: 19px;
  width: 4px;
  height: 50px;
  background-color: #FF0000;
  transform: rotate(45deg);
}

.button::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 19px;
  width: 4px;
  height: 50px;
  background-color: #FF0000;
  transform: rotate(-45deg);
}